<div class="card-trip" style="position: relative;">
  <%= image_tag  @spot.photo %>
  <% if current_user.favorite(@spot).bookmarked %>
    <i class="fa-solid fa-bookmark" style="position: absolute; top: 15px; right: 15px; color: white; font-size: 35px;"></i>
  <% else %>
    <i class="fa-regular fa-bookmark" style="position: absolute; top: 15px; right: 15px; color: white; font-size: 35px;" ></i>
  <% end %>
  <%= link_to :back do %>
    <i class="fa-solid fa-chevron-left" style="position: absolute; top: 15px; left: 15px; color: white; font-size: 35px;"></i>
    <% end %>
  <h2 class="card-trip-pricing" style="position: absolute; top: 438px; right: 10px; color: white; font-size: 22px;"><%= @spot.rating %>⭐️</h2>
  <div class="card-trip-infos">
    <div>
      <%= simple_form_for @favorite do |f| %>
        <%= f.association :folder %>
        <%= f.submit %>
      <% end %>
      <h3><%= @spot.name %></h3>
      <p><i class="fa-solid fa-location-dot" style="color:#0074b7"></i> <%= @spot.spot_location %></p>
      <p><i class="fa-sharp fa-solid fa-info" style="color:#0074b7"></i><%= @spot.description %></p>
      <br>

      <div class="button-container">
        <% if current_user.favorites.find_by(favoritable_id: @spot.id) %>

          <%= link_to 'Remove from Liked', toggle_favorite_spot_path(@spot), data:{turbo_method: :post}, class:"btn-black text-decoration-none button button-wide" %>

        <% else %>
          <%= link_to 'Add to Liked', toggle_favorite_spot_path(@spot), data:{turbo_method: :post}, class:"btn-blue text-decoration-none" %>
        <% end %>
      </div>


    </div>
  </div>
</div>


<script>
  function reloadPage() {
    location.reload();
  }
</script>
