

<div style="position:relative, height: 100%" id="swipe-container" class="motion-swipe">
  <div data-controller="swiper" id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% @spots.each do |spot| %>
        <% next if current_user.favorites.map { |favorite| favorite.favoritable.name }.include?(spot.name) %>
        <div class="carousel-item <%= "active" if @spots.first == spot %>">
          <% " data-spotId="<%= spot.id %>
          <%= image_tag spot.photo, class: "d-block w-100 card-index", style: "object-fit: cover" %>
          <h1><%= spot.name %></h1>

          <%= link_to toggle_favorite_spot_path(spot), id: "like-spot-#{spot.id}", data: { turbo_method: :post }, style: "position: absolute; bottom: 138px; right: 86px;" do %>
            <i class="fa-brands fa-gratipay" style="color: #38b4ff; font-size: 62px;"></i>
          <% end %>
          <%= link_to dislike_spot_path(spot), id: "dislike-spot-#{spot.id}", data: { turbo_method: :post }, style: "position: absolute; bottom: 138px; left: 86px;" do %>
            <i class="fa-solid fa-circle-xmark" style="color: #e61e1e; font-size: 62px;"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%# <%= "active" if @spots.first == spot %>

    <div class="position-absolute w-100" style="bottom: 10px">
      <%= link_to "#" , data: { url: toggle_favorite_spot_path(spot), turbo_method: :post, action: "click->swiper#swipeRight" },
        class: "choice-button like-button js-right-trigger", style: "right: 30px;" do %>
        <i class="fa-solid fa-heart"></i>
      <% end %>
      <%= link_to "#", data: { url: dislike_spot_path(spot), turbo_method: :post, action: "click->swiper#swipeLeft" },
        class: "choice-button no-button js-left-trigger", style: "left: 30px;" do %>
        <i class="fa-solid fa-xmark"></i>
      <% end %>
    </div>
