<div style="margin-bottom:30px">
  <h2>Your folders</h2>
  <% @folders.each do |folder| %>
    <div class="folder-card" style="position:relative; background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(https://picsum.photos/seed/picsum/600/400)">
      <%= link_to folder_path(folder), style:"text-decoration:none; color:white;" do %>
        <p><%= folder.name %></p>
      <% end %>
      <%= link_to folder_path(folder), data: { turbo_method: :delete }, style: "position:absolute; top: 0px; right: 8px;" do %>
        <i class="fa-solid fa-xmark" style="color: #38b4ff; font-size: 22px;"></i>
      <% end %>
      <%= link_to edit_folder_path(folder), style: "position:absolute; bottom: 0px; right: 8px;" do %>
        <i class="fa-solid fa-pen" style="color: #38b4ff; font-size: 22px;"></i>
      <% end %>
    </div>
  <% end %>

  <%= link_to "Create Folder", new_folder_path  %>
</div>





<h2 id='category-tag'> Shopping </h2>








<%#
<%#------------------ new style buttons-------------- %>

<div class='card-likes'>
  <div class='no-button'> <i class="fa-solid fa-xmark fa-2xl"></i> </div>
  <div class='like-button'> <i class="fa-solid fa-heart fa-2xl"></i> </div>
</div>
