<% if controller_name == 'pages' && action_name == 'home' %>
  <div class='footer-container'>
    <%= link_to root_path, class: "homepage-icon" do %>
      <i class="fa-solid fa-house" style='color:#35B5FF'></i>
    <% end %>
    <%= link_to favorites_path, class: "homepage-icon" do %>
      <i class="fa-regular fa-heart" style='color:lightgrey'></i>
    <% end %>
    <%= link_to "#", class: "homepage-icon" do %>
      <i class="fa-regular fa-bookmark" style='color:lightgrey'></i>
    <% end %>
    <%= link_to profile_path, class: "homepage-icon" do %>
      <i class="fa-regular fa-user" style='color:lightgrey'></i>
    <% end %>
  </div>
<% elsif controller_name == 'pages' && action_name == 'profile' %>
  <div class='footer-container'>
    <%= link_to root_path, class: "homepage-icon" do %>
      <i class="fa-solid fa-house" style='color:lightgrey'></i>
    <% end %>
    <%= link_to favorites_path, class: "homepage-icon" do %>
      <i class="fa-regular fa-heart" style='color:lightgrey'></i>
    <% end %>
    <%= link_to "#", class: "homepage-icon" do %>
      <i class="fa-regular fa-bookmark" style='color:lightgrey'></i>
    <% end %>
    <%= link_to profile_path, class: "homepage-icon" do %>
      <i class="fa-solid fa-user" style='color:#35B5FF'></i>
    <% end %>
  </div>
<% elsif controller_name == 'spots' && action_name == 'favorites' %>
  <div class='footer-container'>
    <%= link_to root_path, class: "homepage-icon" do %>
      <i class="fa-solid fa-house" style='color:lightgrey'></i>
    <% end %>
    <%= link_to favorites_path, class: "homepage-icon" do %>
      <i class="fa-regular fa-heart" style='color:#35B5FF'></i>
    <% end %>
    <%= link_to "#", class: "homepage-icon" do %>
      <i class="fa-regular fa-bookmark" style='color:lightgrey'></i>
    <% end %>
    <%= link_to profile_path, class: "homepage-icon" do %>
      <i class="fa-solid fa-user" style='color:lightgrey'></i>
    <% end %>
  </div>
<% end %>
