<div class="d-flex justify-content-center flex-column align-items-center" style="margin-bottom:80px">
  <div class="avatar-big">
    <% if current_user.photo.present? %>
      <%= cl_image_tag current_user.photo.key, :transformation=>[{:aspect_ratio=>"1.0", :gravity=>"face", :width=>0.2, :zoom=>0.2, :crop=>"thumb"},{:radius=>"max"}] %>
    <% else %>
      <img src="assets/default_pic.png" width="0.4">
    <% end %>
    <p id="profile-name"> <%= current_user.email %> </p>
    <p class='profile-data'>
    </p>
  </div>
  <div style='padding-bottom: 24px'>
    <%= simple_form_for :search, url: profile_path, method: :get do |f| %>
        <div class="search-form-control form-group">
          <input class="form-control string required" type="text" name="query" value="<%= params[:query] %>" placeholder="Location..." id="search_query" />
          <button name="button" type="submit" class="btn btn-ghost">
            <i class="fas fa-search"></i>
          </button>
        </div>
    <% end %>
    <div class='profile-box'>
      <p><%= link_to "Edit Profile", user_registration_path, class:"text-decoration-none", data: {turbo_method: :patch}, style: "color: black" %></p>
    </div>
  <div>
</div>
</div>
  <div id = "container">
    <div class="row" id="second">
      <div class="col">
      </div >
      <p>Choose your preferred categories:</p>
    </div>
    <div class="row">
      <div class="col">
        <button type = "button" id = "b1" class = "small_btn">Restaurants</button>
      </div>
      <div class="col">
        <button type = "button" id = "b2" class = "small_btn">Monuments</button>
      </div>
      <div class="col">
        <button type = "button" id = "b3" class = "small_btn">Bars</button>
      </div>
      <div class="col">
        <button type = "button" id = "b4" class = "small_btn">Sightseeing</button>
      </div>
      <div class="col">
        <button type = "button" id = "b5" class = "small_btn">Beach</button>
      </div>
      <div class="col">
        <button type = "button" id = "b6" class = "small_btn">Nightclub</button>
      </div>
      <div class="col">
        <button type = "button" id = "b7" class = "small_btn">Garden</button>
      </div>
    </div>
    <%= link_to "Log out", destroy_user_session_path, class:"btn-black-profile text-decoration-none", data: {turbo_method: :delete} %>
  </div>
</div>
