<!DOCTYPE html>
<html>
  <head>
    <title>WhatHere - Discovering made easy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag %>
  </head>

  <body style="<%= "background-image: url('https://images.unsplash.com/photo-1523906834658-6e24ef2386f9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=766&q=80');" if action_name == "home" || (controller_name == "folders") || controller_name == "sessions" || controller_name == "registrations" %>">
    <div class="page-container">
      <%= render "shared/navbar" if user = current_user %>
        <%= render "shared/flashes" %>
      <main id="main-content" class="position-relative" style="<%= "min-height: 100vh;" if action_name == "home" %>">
        <%= yield %>
      </main>
      <%= render "shared/footer" if user = current_user%>
    </div>
 </body>
</html>
